@charset "utf-8";

/* CSS Document */

article,
aside,
audio,
canvas,
command,
datalist,
details,
embed,
figcaption,
figure,
footer,
header,
hgroup,
keygen,
meter,
nav,
output,
progress,
section,
source,
video title {
    display: block;
}

mark,
rp,
rt,
ruby,
summary,
time {
    display: inline;
}

* {
    margin: 0;
    padding: 0px;
    list-style: none;
}

body {
    font-size: 20px;
    font-family: 'microsoft yahei', Verdana, Arial, Helvetica, sans-serif;
    text-align: center;
    background: #f0f0f0;
}

body a {
    text-decoration: none;
    color: #0a4f83;
}

body img {
    border: 0px;
    vertical-align: middle;
}
/*==========header============*/
.header{
	height: 88px;
	overflow: hidden;
	text-align: center;
	background: #48b7eb;
	line-height: 88px;
	font-size: 30px;
	font-weight: bold;
	color: #fff;
	position: relative;
}
.fh_but{
	width: 55px;
	height: 88px;
	position: absolute;
	left: 0;
	top: 0;
}

/*======main=========*/
.main{
	height: auto;
	overflow: hidden;
}
.zc_box{
	height: auto;
	overflow: hidden;
	border-bottom: 1px solid #e3e3e3;
	margin-top: 38px;
	background: #fff;
}
.zc_box ul li{
	height: 90px;
	overflow: hidden;
	border-top: 1px solid #e3e3e3;
	position: relative;
}
.wbk{
	width: 100%;
	height: 90px;
	line-height: 90px;
	text-align: left;
	font-size: 22px;
	color: #bfbfbf;
	border:0;
	background: 0;
	text-indent: 24px;
}
.zc_box ul li a.yzm{
	display: inline-block;
	min-width: 128px;
	height: 48px;
	line-height: 48px;
	background: #48b7eb;
	border-radius: 10px;
	border:1px solid #d5d5d5;
	color: #fff;
	font-size: 18px;
	position: absolute;
	top:20px;
	right: 30px;
}
.zc_but{
	height: auto;
	margin-top: 48px;
}
.zc_but a{
	display: inline-block;
	width: 90%;
	height: 85px;
	line-height: 85px;
	text-align: center;
	font-size: 30px;
	color: #fff;
	background: #48b7eb;
	border-radius: 10px;
	border:1px solid #d5d5d5;
}

/*========注册===========*/

.zc_nr{
	height: auto;
	overflow: hidden;
	border-bottom: 1px solid #e3e3e3;
	margin-top: 20px;
	background: #fff;
}
.zc_nr ul li{
	height: 90px;
	overflow: hidden;
	border-top: 1px solid #e3e3e3;
	position: relative;
	padding: 0  20px;
}
.zc_nr ul li a.xztx{
	display: block;
	width: 100%;
	height: 121px;
	line-height: 121px;
	text-align: right;
	padding-right: 35px;
	box-sizing: border-box;
	background: url(../images/sj.png) no-repeat right center;
	color: #b1b1b1;
}
.zc_nr ul li.tx{
	height: 121px;
}
.tx_img{
	width: 81px;
	height: 81px;
	position: absolute;
	left: 20px;
	top: 20px;
}
.wbk1{
	width: 100%;
	height: 90px;
	line-height: 90px;
	text-align: right;
	font-size: 22px;
	color: #b1b1b1;
	border:0;
	background: 0;
}
input[type="date"]{
	width: 100%;
	height: 90px;
	line-height: 90px;
	text-align: right;
	font-size: 22px;
	color: #b1b1b1;
	border:0;
	background: 0;
	float: right;
}
.zc_nr ul li span.zc_text{
	display: inline-block;
	height: 90px;
	line-height: 90px;
	position: absolute;
	left: 20px;
	top: 0;
	font-size: 26px;
	color: #434343;
}
.wbk2{
	width: 100%;
	height: 90px;
	line-height: 90px;
	text-align: right;
	font-size: 22px;
	color: #b1b1b1;
	border:0;
	padding-right: 35px;
	box-sizing: border-box;
	background:url(../images/sj.png) no-repeat center right;
}
.m38{
	margin-top: 38px;
}
/*=====选着弹窗====*/
.xbie{
	width: 60%;
	position: fixed;
	background: #fff;
	border-radius: 20px;
	left: 50%;
	margin-left: -30%;
	top: 0;
	padding: 50px;
	box-sizing: border-box;
	display: none;
	z-index: 1500;
}
.xbie ul li{
	height: 70px;
	line-height: 70px;
	text-align: center;
	border-bottom: 1px solid #cccccc;
	font-size: 26px;
	color: #464646;
}
input[type="checkbox"]{
	opacity: 0;
}
.xbie ul li.cur i{
	display: inline-block;
	width: 32px;
	height: 32px;
	vertical-align: middle;
	margin-right: 15px;
	background: url(../images/dui.png) no-repeat center center;
}

.bgzzc{
	background:rgba(0,0,0,0.8);
	position:absolute;
	z-index:1000;
	left:0;
	top:0;
	display:none;
	width:100%;
	height:100%;
}
/*======个人信息=========*/

.grxx{
	height: auto;
	overflow: hidden;
	background: #fff;
	margin-top: 38px;
	padding-left: 20px;
}
.grxx ul li{
	height: 90px;
	line-height: 90px;
	text-align: left;
	border-bottom: 1px solid #e3e3e3;
	overflow: hidden;
	position: relative;
	padding: 0 15px;
	font-size: 26px;
	color: #434343;
}
.grxx ul li span{
	color: #c7c7cc;
	font-size: 24px;
	margin-left: 45px;
}
.grxx ul li a{
	display: block;
	width: 100%;
	height: 90px;
	line-height: 90px;
	text-align: left;
	font-size: 26px;
	color: #434343;
	background: url(../images/sj.png) no-repeat 95% center;
}
.m10{
	margin-top: 10px;
}
.kc_title{
	height: 65px;
	line-height: 65px;
	margin-top: 15px;
	text-align: left;
	color: #434343;
	font-size: 24px;
	padding: 0 35px
}
.kcxx_bottom{
	height: auto;
	overflow: hidden;
	background: #fff;
}
.kcxx_bottom_bt{
	height: auto;
	overflow: hidden;
}
.kcxx_bottom_bt ul li{
	float: left;
	height: 100px;
	font-size: 22px;
	width: 20%;
	color: #fff;
}
.kcxx_bottom_bt ul li:nth-of-type(1){
	width: 19%;
	line-height: 50px;
	background: url(../images/kc_bg1.png) no-repeat center top;
	background-size: 100% auto;
}
.kcxx_bottom_bt ul li:nth-of-type(2){
	width: 18%;
	line-height: 50px;
	background: url(../images/kc_bg2.png) no-repeat center top;
	background-size: 100% auto;
}
.kcxx_bottom_bt ul li:nth-of-type(3){
	width: 18%;
	line-height: 50px;
	background: url(../images/kc_bg3.png) no-repeat center top;
	background-size: 100% auto;
}
.kcxx_bottom_bt ul li:nth-of-type(4){
	width: 18%;
	line-height: 50px;
	background: url(../images/kc_bg4.png) no-repeat center top;
	background-size: 100% auto;
}
.kcxx_bottom_bt ul li:nth-of-type(5){
	width: 27%;
	line-height: 50px;
	background: url(../images/kc_bg5.png) no-repeat center top;
	background-size: 100% auto;
}
.kcxx_bottom_nr{
	height: auto;
	overflow: hidden;
}
.kcxx_bottom_nr table{
	margin:0 auto;
}
.kcxx_bottom_nr table tr td{
	padding: 20px 0;
	background: #fff;
	font-size: 26px;
}

/*===========登录============*/

.top{
	height: auto;
	overflow: hidden;
}
.top img{
	width: 100%;
	height: auto;
}
.dl_login{
	height: auto;
	overflow: hidden;
	margin-top: 55px;
	padding: 0 35px;
}
.dl_login table{
	margin:0 auto;
	font-size:24px;
}
.dl_login table tr td{
	padding:15px 0;
}
.dl_wbk{
	width: 100%;
	height: 70px;
	line-height: 70px;
	text-align: left;
	border: 1px solid #d2d2d2;
	padding:0 20px;
	box-sizing: border-box;
	font-size:24px;
	color: #d2d2d2;
}
.dl_login table tr td a.dl_but{
	display: inline-block;
	width: 100%;
	height: 85px;
	line-height: 85px;
	text-align: center;
	font-size: 30px;
	color: #fff;
	background: #48b7eb;
	border-radius: 10px;
	border:1px solid #d5d5d5;
	box-sizing: border-box;
	text-decoration: none;
}
.dl_login table tr td a{
	color: #434343;
	text-decoration: underline;
}
.dl_login table tr td a.zhmm{
	float: right;
}

.grxx ul li.tx{
	height: auto;
	overflow: hidden;
	padding: 10px;
	text-align: left;
}
.grxx ul li.tx img{
	width: 81px;
	height: 81px;
	border-radius: 5px;
	margin-right: 30px;
	float: left;
}
.grxx ul li.tx span{
	display:block;
	float: left;
	line-height: 1.7;
	margin-left: 0;
}
.grxx ul li.tx span p{
	color: #434343;
	font-size: 26px;
}









